section.main-banner
    h1.banner__title Jeremy &amp; Diana <span>Are getting married</span> <time class="married-date" data-time="2020-09-25">September 25, 2020</time>

    include ../blocks/countdown.pug