.banner__countdown
    p.countdown__title Countdown to Wedding Ceremony

    ul.countdown
        li
            span.days 00
            p.days_ref days
        li
            span.hours 00
            p.hours_ref hours
        li
            span.minutes 00
            p.minutes_ref minutes
        li
            span.seconds 00
            p.seconds_ref seconds
