section.happy
    .container
        h2.section-title Happy couple

        .happy__groom
            .groom__photo
                img.img-responsive.photo(src="../img/happy-couple/groom.jpg" alt="Groom")
                .photo__border.photo__border--left
            
            .section-content.section-content--padding-left
                h3.content__title.after-line Jeremy <small>the <strong>Groom</strong></small>

                p.content__descr.
                    I bumped into Diana again 7 years later in a club, she had literally just returned from a holiday and was out celebrating her birthday. 
                    I was back from sea for 4 days before I left again for a few months. The probability that this would happen is crazy and to top it all off, 
                    she remembered my name.
                p.content__descr.
                    I got this amazing feeling as soon as I saw her and it lives with me every day and I promise that the bunny outfit had nothing to do with it. 
                    eedless to say it turned into a very expensive night out

        .happy__bride
            .bride__photo
                img.img-responsive.photo(src="../img/happy-couple/bride.jpg" alt="Bride")
                .photo__border.photo__border--right
            
            .section-content.section-content--padding-right
                h3.content__title.after-line Diana <small>the <strong>Bride</strong></small>

                p.content__descr.
                    Jeremy and I have absolutely no hobbies or interests in common at all!  I fact, we're pretty much complete opposites! But who needs stuff in common? It's over-rated!  
                p.content__descr.
                    More importantly, we have the same life goals, the same priorities, the same attitudes to people and money and work and the same sense of what's right and wrong in life.  
                    We say that we're soul mates and over the last 7 years I feel like we've become adults together and somehow shaped each other into becoming better people.



