section.photos
    h2.section-title Our photos

    .slick-center-wrap.slider-wrapper
        ul.slick-center.slick__slider
            li.slider__item(data-id="01")
                img(src='../img/photo-slider/1.jpg')
            li.slider__item(data-id="02")
                img(src='../img/photo-slider/2.jpg')
            li.slider__item(data-id="03")
                img(src='../img/photo-slider/3.jpg')
            li.slider__item(data-id="04")
                img(src='../img/photo-slider/1.jpg')
            li.slider__item(data-id="05")
                img(src='../img/photo-slider/2.jpg')
            li.slider__item(data-id="06")
                img(src='../img/photo-slider/3.jpg')
            li.slider__item(data-id="07")
                img(src='../img/photo-slider/1.jpg')
            li.slider__item(data-id="08")
                img(src='../img/photo-slider/2.jpg')
            li.slider__item(data-id="09")
                img(src='../img/photo-slider/3.jpg')
    
        .slider-pagination
            p <span class="current-slide">01</span> / <span class="all-slides">00</span>