section.photos
    h2.section-title Our photos

    .slick-center-wrap.slider-wrapper
        ul.slick-center.slick__slider
            li.slider__item
                img(src='../img/photo-slider/1.jpg')
            li.slider__item
                img(src='../img/photo-slider/2.jpg')
            li.slider__item
                img(src='../img/photo-slider/3.jpg')
            li.slider__item
                img(src='../img/photo-slider/1.jpg')
            li.slider__item
                img(src='../img/photo-slider/2.jpg')
            li.slider__item
                img(src='../img/photo-slider/3.jpg')
            li.slider__item
                img(src='../img/photo-slider/1.jpg')
            li.slider__item
                img(src='../img/photo-slider/2.jpg')
            li.slider__item
                img(src='../img/photo-slider/3.jpg')
            li.slider__item
                img(src='../img/photo-slider/1.jpg')
            li.slider__item
                img(src='../img/photo-slider/2.jpg')
            li.slider__item
                img(src='../img/photo-slider/3.jpg')
            li.slider__item
                img(src='../img/photo-slider/1.jpg')
            li.slider__item
                img(src='../img/photo-slider/2.jpg')
            li.slider__item
                img(src='../img/photo-slider/3.jpg')