section.story
    .container
        h2.section-title Love story
        .flex-wrapper
            .story__slider
                .slider__item
                    img.slider__image.img-responsive(src="../img/slider/1.jpg") 
                .slider__item
                    img.slider__image.img-responsive(src="../img/slider/1.jpg")
                    
            .story__content
                h3.content__title.after-line How we met
                p.content__descr.
                    How we met is an unlikely funny story! Three years ago he tweeted that he was moving and had a bunch of horror 
                    DVD’s he needed to get rid of. At the time we didn’t follow each other, so a mutual friend responded to his tweet
                    and included me in on it.