section.support
    .container.flex-container
        h2.support__title Want to support us?

        .donate-wrapper
            span.donate-descr You can make a donation here
            button.btn Donate