section.venues 
    .container.flex-container
        h2.section-title Venues

        section.ceremony__address
            .address__contacts.address__contacts--right
                .wrapper
                    h3.title.after-line Wedding ceremony
                    p.contacts__date <span class="label">When</span><time datatime="2020-05-15" class="contacts__date">11:30, May 15th, 2020</time>
                    p.contacts__date <span class="label">Where</span><span class="contacts__address">Saint Thomas Church Fifth Avenue 1 W 53rd St, New York, NY 10019</span>
                    button.contacts__button(type="button") See on map
            
            .address__map-container--left.address__map
                #address__map--ceremony.address__map--ceremony

            

        section.reception__address 
            .address__contacts.address__contacts--left
                .wrapper
                    h3.title.after-line Wedding reception
                    p.contacts__date <span class="label">When</span> <time datatime="2020-05-16" class="contacts__date">14:00, May 16th, 2020</time>
                    
                    p.contacts__date <span class="label">Where</span> <span class="contacts__address">La Grenouille Restaurant 3 E 52nd St, New York, NY 10022</span>

                    button.contacts__button(type="button") See on map
            
            .address__map-container--right.address__map
                #address__map--reception.address__map--reception

        
