<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="utf-8")
		title("Jeremy & Diana")
		meta(name="keywords" content="keywords")
		meta(name="description" content="description")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
		link(rel="stylesheet" href="css/libs.min.css")
		link(rel="stylesheet" href="css/main.css")
	body
		include global/header
		include blocks/banner-section
		include blocks/happy-couple-section
		include blocks/story-section
		include blocks/photos-section
		include blocks/venues-section
		include blocks/feedback-section
		include blocks/support-section
		include global/footer
		include global/scripts
