.footer
    width: 100%
    height: 128px
    position: relative
    background-color: $rose
    .container
        position: relative

.footer__content
    display: flex
    justify-content: space-between
    align-items: center
    height: 100%
    position: absolute
    top: -50%
    left: 50%
    transform: translateX(-50%)

.footer__bride-name
    order: 3

.footer__name
    font-family: $marcellus
    font-size: 3.5em
    line-height: 1.5em
    color: $accent

.footer__photo
    position: absolute
    left: 53%
    top: -60px
    transform: translateX(-50%)
    display: flex
    flex-direction: column
    align-items: center
    .img-wrapper
        width: 192px
        height: 112px

.footer__date
    margin-top: 16px
    font-size: 20px
    line-height: 32px

.footer__groom-name
    margin-right: 150px

.footer__bride-name
    margin-left: 150px



@media only screen and (max-width: 670px)
    .footer__name
        font-size: 2.5em
    
    .footer__photo 
        top: -44px
        .img-wrapper
            width: 145px
            height: 90px 

    .footer__date
        margin-top: 0

    .footer__groom-name
        margin-right: 90px

    .footer__bride-name
        margin-left: 90px

@media only screen and (max-width: 400px)
    .footer__name
        font-size: 1.6em   