header.main-header
    .container.container-flex
        a.header__logo(href="index.html")
            img.logo__img(src="img/header/logo.png" alt="Logo")

        nav.header__navigation
            ul.navigation__list
                li.navigation__item
                    a.navigation__link(href="#") Home
                li.navigation__item
                    a.navigation__link(href="#") Happy couple
                li.navigation__item
                    a.navigation__link(href="#") Love story
                li.navigation__item
                    a.navigation__link(href="#") Our photos
                li.navigation__item
                    a.navigation__link(href="#") Venues
        
        button.header__button RVSP