script(src="js/libs.min.js")
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA73RoNYapTNYU27z1CptprgIthHMg7Z1w&amp;callback=initMap")
script(src="libs/jquery.downCount.js")
script(src="js/main.js")